.form-register button {
  width: 100%;
  background: #EAC926;
  border: none;
  padding: 12px;
  color: #000;
  margin: 16px 0;
  border-radius: 3px;
  font-weight: 500;
  transition: all 0.5s;
}

.form-register button:hover {
  background-color: #0022AA;
  color: white;
}