<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/form-registro.css" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3V5ZTNQGBG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3V5ZTNQGBG');
</script>
</head>

<body>
  <header>
    <div class="encabezado">
      <img src="/img/logo-mercado-liebre.svg" alt="logo" />
      <form method="get" id="formulario">
        <input type="text" name="" id="search" placeholder="Buscar productos, marcas" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <h1><i class="fa-solid fa-hand-holding-dollar"></i>Comprar en cuotas y sin tarjeta de credito</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <ul>
        <li>
          <a href="/registro">Creá tu cuenta <i class="fa-sharp fa-regular fa-address-card"></i></a>
        </li>
        <li>
          <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        <li>
          <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
        </li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fa-solid fa-bars fa-xl"> </i>
    </div>
  </header>
  <main>
    <form class="form-register" method="post">
      <h4>Formulario Registro</h4>
      <input class="controls" type="text" name="nombre" placeholder="Nombre y apellido" required>
      <input class="controls" type="text" name="username" placeholder="Nombre de usuario" required>
      <input class="controls" type="email" name="email" placeholder="E-mail" required>
      <label class="info" for="birth-date">Fecha de nacimiento</label>
      <input class="controls" type="date" name="birth-date" id="birth-date" required>
      <input class="controls" type="text" name="domicilio" placeholder="Domicilio" required>
      <label class="info">Perfil del usuario</label>
      <label for="client" class="radio-option"><input type="radio" name="perfil" id="client" value="client"
          required>Comprar</label>
      <label for="seller" class="radio-option"><input type="radio" name="perfil" id="seller"
          value="seller">Vender</label>
      <label class="info">Categorías de interés</label>
      <label class="categorias" for="electro"><input input type="checkbox" name="cat-interes" id="electro"
          value="electro">Electro</label>
      <label class="categorias" for="moda"><input type="checkbox" name="cat-interes" id="moda" value="moda">Moda</label>
      <label class="categorias" for="hogar"><input type="checkbox" name="cat-interes" id="hogar"
          value="hogar">Hogar</label>
      <label class="categorias" for="jugueteria"><input type="checkbox" name="cat-interes" id="jugueteria"
          value="jugueteria">Juguetería</label>
      <label class="categorias" for="vida-sana"><input type="checkbox" name="cat-interes" id="vida-sana"
          value="vida-sana">Vida sana</label>
      <label class="info" for="">Subi tu foto de perfil</label>
      <input type="file" name="foto" id="archivo" accept=".jpg , .png">
      <input class="controls" type="password" name="password" placeholder="Contraseña" required>
      <input class="controls" type="password" name="confirm-password" placeholder="Confirmar contraseña" required>
      <div class="botons">
        <button type="reset">Borrar</button>
        <button type="submit">Registrarme</button>
      </div>
    </form>
  </main>

  <footer>
    <section>
      <i class="fa-solid fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
      en puntos de pago. ¡Y siempre es seguro!
    </section>
    <section>
      <i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
      de productos. Es un beneficio de Mercado Puntos.
    </section>
    <section>
      <i class="fa-solid fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
      hacer, porque estás siempre protegid@.
    </section>
  </footer>
  <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</body>

</html>